<!doctype html>
<html>
	<head id="head">
		<title>Blank Node</title>

		<link rel="stylesheet" type="text/css" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="js/themes/default/easyui.css">
		<link rel="stylesheet" type="text/css" href="js/themes/icon.css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		
		
		
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.easyui.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		
		
		<script type="text/javascript" src="js/knockout.js"></script>
		<script type="text/javascript" src="js/three.js"></script>
		<script type="text/javascript" src="js/renderers/CanvasRenderer.js"></script>
		<script type="text/javascript" src="js/threex.windowresize.js"></script>
		<script type="text/javascript" src="js/THREEx.FullScreen.js"></script>
		<script type="text/javascript" src="js/Projector.js"></script>

		<script type="text/javascript" src="js/trackballcontrols.js"></script>
		<script type="text/javascript" src="js/orbitcontrols.js"></script>
		
		<script type="text/javascript" src="js/cannon.min.js"></script>

		<script type="text/javascript" src="js/THREEx.KeyboardState.js"></script>
		<script type="text/javascript" src="js/OBJLoader.js"></script>

		<script type="text/javascript" src="js/devtools-detect.js"></script>

		<script type="text/javascript" src="js/threex.collider.js"></script>
		<script type="text/javascript" src="js/threex.colliderhelper.js"></script>
		<script type="text/javascript" src="js/threex.collidersystem.js"></script>
		<script type="text/javascript" src="js/Detector.js"></script>
		
		
		<script type="text/javascript" src="js/messagesystem.js"></script>
		
		<script type="text/javascript" src="js/threejsbase.js"></script>
		<script type="text/javascript" src="js/threejsgame.js"></script>
		<!-- -->
		<script type="text/javascript" src="js/stats.min.js"></script>
		<script type="text/javascript" src="js/md5.min.js"></script>

		<style type="text/css">

		</style>
		<script type="text/javascript">
			//javascript:(function(){var script=document.createElement('script');script.onload=function(){var stats=new Stats();stats.setMode( 2 );;stats.domElement.style.cssText='position:fixed;left:0;top:0;z-index:10000';document.body.appendChild(stats.domElement);requestAnimationFrame(function loop(){stats.update();requestAnimationFrame(loop)});};script.src='/js/stats.min.js';document.head.appendChild(script);})()
			
			
			$('#chatwindow').window('close');
			
		</script>
	</head>

	<body id="body" class="yui3-skin-sam" data-spy="scroll" style="width:100%;height:100%">
		<div id="render"> </div>

		<!-- 
		<div id="content">
			<a href="/logout">Logout</a>
		</div>
		-->
		
		
		<!-- -->
		
		<div style="background:#fafafa;padding:5px;width:500px;border:1px solid #ccc">
		    <a href="#" class="easyui-menubutton" menu="#mm1" iconCls="icon-edit">File</a>
		    <a href="#" class="easyui-menubutton" menu="#mm3" iconCls="">Editor</a>
		    <a href="#" class="easyui-menubutton" menu="#mm2" iconCls="icon-help">Help</a>
		</div>
		<div id="mm1" style="width:150px;">
			<div onclick="game.SaveSceneObjects();">SaveSceneObjects</div>
			<div onclick="game.LoadSceneObjects();">LoadSceneObjects</div>
			
			<div onclick="game.ClearSceneObjectsLocal();">ClearSceneObjectsLocal</div>
			<div onclick="game.ClearSceneObjects();">ClearSceneObjects</div>
			<div onclick="game.DeleteSceneObject();">DeleteSceneObject</div>
			<!--
		    <div iconCls="icon-undo">Undo</div>
		    <div iconCls="icon-redo">Redo</div>
		    <div class="menu-sep"></div>
		    <div>Cut</div>
		    <div>Copy</div>
		    <div>Paste</div>
		    <div class="menu-sep"></div>
		    <div iconCls="icon-remove">Delete</div>
		    <div>Select All</div>
		    -->
		</div>
		<div id="mm2" style="width:100px;">
			<!--
		    <div>Help</div>
		    <div>Update</div>
		    <div>About</div>
		    -->
		</div>
		
		<div id="mm3" style="width:100px;">
		    <div onclick="game.ToggleBuild();">Build Mode</div>
		    <div onclick="game.ToggleSnap();">Snap</div>
		    <div class="menu-sep"></div>
		    <div onclick="game.setGridSize(16);">Grid Size 16</div>
		    <div onclick="game.setGridSize(32);">Grid Size 32</div>
		    <div onclick="game.setGridSize(64);">Grid Size 64</div>
		</div>
		
		<!-- -->
		
        <script>

        </script>
		<!--
		<a href="javascript:void(0)" class="easyui-linkbutton" onclick="$('#chatwindow').window('close')">Close</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" onclick="$('#chatwindow').window('open')">Open</a>
		position:absolute;left:100px;top:0px;
		-->
		
		<div id="chatwindow" class="easyui-window" title="Basic Window" data-options="iconCls:'icon-save'" style="width:500px;height:300px;padding:10px;">
			<div id="ChatMessage" style="width: 440px; height: 180px; overflow-y: scroll;">

			</div>

			<input id="chatmessage" type="text" name="ChatInput" value="hello" onkeypress="return ChatEnterMessage(event)">
			<button type="button" onclick="ChatButtonPress();">Chat</button>
		</div>
		
		
		<div id="mapeditorwindow" class="easyui-window" title="Map Editor Window" data-options="iconCls:'icon-save'" style="width:500px;height:300px;padding:10px;" data-options={left:0;top:00}>
			<div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'east',split:true" style="width:100px"></div>
            <div data-options="region:'center'" style="padding:10px;">
                jQuery EasyUI framework help you build your web page easily.
            </div>
            <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
            	<input id="mapname" type="text" name="ChatInput" value="hello" onkeypress="return MapEnterKey(event)">
                <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="" style="width:80px">Ok</a>
                <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="" style="width:80px">Cancel</a>
            </div>
        </div>
		</div>
		
		
		<nav class="navbar navbar-inverse navbar-fixed-bottom">
			<div class="container-fluid">
				<div class="navbar-header">
					<div class="dropdown">
						<button id="selectmodedropmenu" class="btn btn-default dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">Editor</button>
						<ul id="myselectedtabs" class="dropdown-menu" aria-labelledby="menu1"  role="tablist">
							<li id="tabgame"><a  role="tab" data-toggle="tab" href="#Game" onclick="SelectMode('Game');">Game</a></li>
							<li id="tabeditor"><a  role="tab" data-toggle="tab" href="#Editor" onclick="SelectMode('Editor');">Editor</a></li>
							<li id="tabitemeditor"><a  role="tab" data-toggle="tab" href="#ItemEditor" onclick="SelectMode('Item Editor');">Item Editor</a></li>
						</ul>
					</div>
			  	</div>
			  	 <!-- Tab panes -->
			    <div id="toolbarselection" class="tab-content">
				    <div role="tabpanel" class="tab-pane" id="Game">
				      <ul class="nav navbar-nav">
				        <li><a href="#">Chat</a></li>
				        <li><a href="#">Inventory</a></li>
				        <li><a href="#">Social</a></li>
				        <li><a href="#">Skills</a></li>
				        <li><a href="#">Crafting</a></li>
				        <li><a href="#">Resource</a></li>
				      </ul>
				    </div>
			    
				    <div role="tabpanel"  class="tab-pane active"  id="Editor">
				      <ul class="nav navbar-nav">
				        <li><a href="#">ID</a></li>
				        <li><a href="#">Postion</a></li>
				        <li><a href="#">Rotation</a></li>
				        <li><a href="#">Scale</a></li>
				        <li><a href="#">Snap</a></li>
				        <li><a href="#">Grid Size</a></li>
				        
				        <li><a href="#">Materials</a></li>
				        <li><a href="#">Textures</a></li>
				        <li><a href="#">Objects</a></li>
				        
				        <li><a href="#">Skills</a></li>
				        <li><a href="#">Scripts</a></li>
				        
				      </ul>
				    </div>
			    
				    <div role="tabpanel"  class="tab-pane"  id="ItemEditor">
				      <ul class="nav navbar-nav">
				        <li><a href="#">ID</a></li>
				        <li><a href="#">Materials</a></li>
				        <li><a href="#">Items</a></li>
				        <li><a href="#">Tools</a></li>
				        <li><a href="#">Scripts</a></li>
				        <li><a href="#">Animation</a></li>
				        <li><a href="#">Debug</a></li>
				      </ul>
				    </div>
		    	</div>
		    
		    <p class="navbar-text navbar-right"><a href="#" class="navbar-link">Settings </a></p>
		  </div>
		  
		</nav>
		
		<script type="text/javascript">
			window.addEventListener("load", MyLoad);
			function MyLoad(){
				$('#chatwindow').window('close');	
				
				$('#mapeditorwindow').window({left:0,top:0});	
				$('#mapeditorwindow').window('close');
				
			}
			
			$(document).ready(function(){
			    $(".dropdown").on("show.bs.dropdown", function(event){
			        var x = $(event.relatedTarget).text(); // Get the button text
			        console.log(x);
			        //alert("You clicked on: " + x);
			    });
			});
			
			
			//$('#myselectedtabs a').click(function (e) {
  				//e.preventDefault()
  				//$(this).tab('show')
			//});
			
			
			function SelectMode(_text){
				console.log(document.getElementById('myselectedtabs'));
				//console.log(document.getElementById('selectmodedropmenu'));
				//console.log(document.getElementById('selectmodedropmenu'));
				
				var IDSelectMode = document.getElementById('selectmodedropmenu');
				//console.log(IDSelectMode);
				console.log(_text);
				if(_text == 'Game'){
					$('#myselectedtabs a[href="#Game"]').tab('show'); // Select tab by name
					
				}
				if(_text == 'Editor'){
					$('#myselectedtabs a[href="#Editor"]').tab('show');
					
				}
				if(_text == 'Item Editor'){
					$('#myselectedtabs a[href="#ItemEditor"]').tab('show');
					
				}
				document.getElementById("tabgame").className = "";
				document.getElementById("tabeditor").className = "";
				document.getElementById("tabitemeditor").className = "";
				document.getElementById('selectmodedropmenu').innerText = _text;
			}
			
		</script>
		
		
		
	</body>
</html>

