<!doctype html>
<html>
	<head id="head">
		<title>Blank Node</title>

		<link rel="stylesheet" type="text/css" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="js/themes/default/easyui.css">
		<link rel="stylesheet" type="text/css" href="js/themes/icon.css">
		
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.easyui.min.js"></script>
		
		
		
		<script type="text/javascript" src="js/knockout.js"></script>
		<script type="text/javascript" src="js/three.js"></script>
		<script type="text/javascript" src="js/renderers/CanvasRenderer.js"></script>
		<script type="text/javascript" src="js/threex.windowresize.js"></script>
		<script type="text/javascript" src="js/THREEx.FullScreen.js"></script>
		<script type="text/javascript" src="js/Projector.js"></script>

		<script type="text/javascript" src="js/trackballcontrols.js"></script>
		<script type="text/javascript" src="js/orbitcontrols.js"></script>
		
		<script type="text/javascript" src="js/cannon.min.js"></script>

		<script type="text/javascript" src="js/THREEx.KeyboardState.js"></script>
		<script type="text/javascript" src="js/OBJLoader.js"></script>

		<script type="text/javascript" src="js/devtools-detect.js"></script>

		<script type="text/javascript" src="js/threex.collider.js"></script>
		<script type="text/javascript" src="js/threex.colliderhelper.js"></script>
		<script type="text/javascript" src="js/threex.collidersystem.js"></script>
		<script type="text/javascript" src="js/Detector.js"></script>
		
		
		<script type="text/javascript" src="js/messagesystem.js"></script>
		
		<!-- -->
		<script type="text/javascript" src="js/stats.min.js"></script>
		<script type="text/javascript" src="js/md5.min.js"></script>

		<style type="text/css">

		</style>
		
	</head>

	<body id="body" class="yui3-skin-sam" data-spy="scroll" style="width:100%;height:100%">
		<div id="render"> </div>
		
	</body>
	
	<script type="text/javascript">
			var SCREEN_WIDTH = 400,
    SCREEN_HEIGHT = 300,
    VIEW_ANGLE = 45,
    ASPECT = SCREEN_WIDTH / SCREEN_HEIGHT,
    NEAR = 0.1,
    FAR = 20000,
    webGLScene = new THREE.Scene(),
    canvasScene = new THREE.Scene(),
    webGLCamera = new THREE.PerspectiveCamera(VIEW_ANGLE, ASPECT, NEAR, FAR),
    canvasCamera = new THREE.PerspectiveCamera(VIEW_ANGLE, ASPECT, NEAR, FAR),
    webGLRenderer = new THREE.WebGLRenderer({ antialias: true }),
    canvasRenderer = new THREE.CanvasRenderer();

webGLScene.add(webGLCamera);
canvasScene.add(canvasCamera);

webGLCamera.position.set(0, 0, 20);
webGLCamera.lookAt(webGLScene.position);

canvasCamera.position.set(0, 0, 20);
canvasCamera.lookAt(canvasScene.position);

webGLRenderer.setSize(SCREEN_WIDTH, SCREEN_HEIGHT);
canvasRenderer.setSize(SCREEN_WIDTH, SCREEN_HEIGHT);

var container = document.createElement( 'div' );

//container = document.body;
container.appendChild(webGLRenderer.domElement);
container.appendChild(canvasRenderer.domElement);
document.body.appendChild( container );

webGLRenderer.domElement.style.border = "1px solid red";
canvasRenderer.domElement.style.border = "1px solid red";

makeSprite(webGLScene, "webgl");
makeSprite(canvasScene, "2d");

function makeSprite(scene, rendererType) {
    var canvas = document.createElement('canvas'),
        context = canvas.getContext('2d'),
        metrics = null,
        textHeight = 100,
        textWidth = 0,
        actualFontSize = 2;

    context.font = "normal " + textHeight + "px Arial";
    metrics = context.measureText("Sample Text in " + rendererType);
    var textWidth = metrics.width;

    canvas.width = textWidth;
    canvas.height = textHeight;
    context.font = "normal " + textHeight + "px Arial";
    context.textAlign = "center";
    context.textBaseline = "middle";
    context.fillStyle = "#ff0000";
    context.fillText("Sample Text in " + rendererType, textWidth / 2, textHeight / 2);

    var texture = new THREE.Texture(canvas);
    texture.needsUpdate = true;

    //var material = new THREE.SpriteMaterial({ map: texture, useScreenCoordinates: false, alignment: THREE.SpriteAlignment.center });
    var material = new THREE.SpriteMaterial({ map: texture});
    material.transparent = true;
    //var textObject = new THREE.Sprite(material);
    var textObject = new THREE.Object3D();
    var sprite = new THREE.Sprite(material);
    textObject.textHeight = actualFontSize;
    textObject.textWidth = (textWidth / textHeight) * textObject.textHeight;
    if (rendererType == "2d") {
        sprite.scale.set(textObject.textWidth / textWidth, textObject.textHeight / textHeight, 1);
    } else {
        sprite.scale.set(textWidth / textHeight * actualFontSize, actualFontSize, 1);
    }

    textObject.add(sprite);

    scene.add(textObject);
}

canvasRenderer.render(canvasScene, canvasCamera);
webGLRenderer.render(webGLScene, webGLCamera);
			
			
			
			
		</script>
</html>
