<!doctype html>
<html>
	<head id="head">
		<title>Node Web Sandbox API</title>
		<link rel="stylesheet" href="css/uikit.gradient.min.css" />
		<link rel="stylesheet" href="css/forum.css" />

		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/knockout.js"></script>
		<script src="js/uikit.min.js"></script>

		<style type="text/css">

		</style>
		<script type="text/javascript">

		</script>
	</head>

	<body id="body" class="yui3-skin-sam" data-spy="scroll" style="width:100%;height:100%">
		<nav class="uk-navbar">
		    <ul class="uk-navbar-nav">
		        <li class=""><a href="/">Home</a></li>
		        <li><a href="/game">Game</a></li>
		        <li class="uk-parent"><a href="">Forum</a></li>
		    </ul>

			<div class="uk-navbar-flip">
		        <ul class="uk-navbar-nav">
		            <li><a href="/support">Support</a></li>
					<li><a href="/logout">Logout</a></li>
		        </ul>
		    </div>
		</nav>


		<div>
			<div id="nav">
				Link<br>
				Link<br>
				Link<br>
			</div>

			<div id="section">
				<h1>Forum</h1>
				<p>
				Hello World!
				</p>
			</div>


			<div id="footer">
			Created by: Lightnet
			</div>

		</div>


		<script>

		</script>
	</body>
</html>
